<section id="contacto">
    <h3>Connect with me</h3>
    <p>You can contact me through:</p>
    <p>
        <a href="https://github.com/higrub89" target="_blank" class="contact-link">
            <i class="fab fa-github"></i> GitHub
        </a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/higrub89/" target="_blank" class="contact-link">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </p>
    <p>
        <a href="mailto:higuitaruben@hotmail.com" class="contact-link">
            <i class="fas fa-envelope"></i> Email
        </a>
    </p>
</section>
<p>&copy; 2025 Rubén Darío Higuita Rubio. All rights reserved.</p>