<header>
    <h1>RUBEN DARIO HIGUITA RUBIO</h1>
    <nav>
        <ul>
            <li><a href="#sobre-mi">Sobre Mí</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
        <div class="language-switcher">
            <a href="index.html" class="active">Español</a>
            <span class="separator">|</span> <a href="index-en.html">English</a>
        </div>
</header>