<header>
    <h1>RUBEN DARIO HIGUITA RUBIO</h1>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="about-me.html">Sobre Mí</a></li>
            <li><a href="index.html#proyectos">Proyectos</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="index.html#contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="language-switcher">
        <a href="index.html">Español</a>
        <span class="separator">|</span>
        <a href="index-en.html">English</a>
    </div>
</header>